<link rel="stylesheet" type="text/css" href="application.css"> 
<link rel="stylesheet" type="text/css" href="about.css"> 
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<!--main background -->

 <!-- nav --투명 예시용 -->
 
  <nav class="nav_bar">
    <header id="header-img"> 
    <div class="navbar_content">
        <a href="/home/main" class="nav_logo">
          <!-- LIKE LION -->
              <img src='../assets/logo_w.png' alt="dongduklikon" style='width:12.5rem'/></a>
        <ul class="nav">
          <li>
            <a class="nav_menu" href="/home/member">MEMBER</a>
          </li>
          <li>
            <a class="nav_menu" href="/home/faq">FAQ</a>
          </li>
          <li>
            <a class="nav_menu" href="/home/recruit">RECRUIT</a>
          </li>
          <li>
            <a class="nav_menu" href="/home/main#about">ABOUT</a>
          </li>
        </ul> 
    </div>
    <br>
    
     
    <div class='header-font-title animated flash'>멋쟁이사자처럼</div>
    <!--header-font-title animated infinite flipInX  : 무한반복-->
    
    <div class='header-atdongduk'>
        @ 동덕여대
    </div>
    
    <h2 class=header-font-endtitle>내 아이디어를  <b>내 손으로</b>  실현한다</h2>
    <h5 class=header-font-endscript>
        컴퓨터를 전혀 모르던 학생들이
        <br>
        코딩교육을 통해 원하는 IT서비스를 직접 런칭 합니다.
    </h5>
</header>
  </nav>

<!--ABOUT -->
<section id="about">
    <div class="container">
        <h2 class="about-title">ABOUT</h2>
        <hr>
    </div>
        <div class="row">
            <div class="about-img-left">
                <img src='../assets/about/studyy.JPG' align='left'/>
                <span><b>스터디</b></span>

                <p>같이 프로그래밍을 배워요.&nbsp;
                 아무것도 몰라도 괜찮아요. <br>
                 다들 처음이고,&nbsp; 같이 고민하고,&nbsp; 노하우를 나누고,&nbsp;
                함께 성장할 거에요.</p>
            </div>
        </div>
    
        <div class="row">
            <div class="about-img-right">
                <img src='../assets/about/minihackk.JPG' align='right'/>
                <span><b>미니 해커톤</b></span>

                <p>배운 내용을 가지고<br>하루동안 다른 학교 학생들과 함께 으쌰으쌰해서  
                결과물을 완성해요.&nbsp;</p>
            </div>
        </div>
        <div class="row">
            <div class="about-img-left">
                <img src='../assets/about/hackck.jpg' align='left'/>
                <span><b>해커톤</b></span>

                <p>
                두근두근 대망의 해커톤의날! <br>
                다함께 모여 밤을 새며 서비스를 만들어요.&nbsp;
                서비스를 완성하고 결과물을 공유해요.
                </p>
            </div>
        </div>
    </div>
</section>